<div th:fragment="parent">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis omnis, reiciendis quasi, magnam facilis beatae debitis distinctio harum dolore similique enim. Voluptas cum eaque beatae deserunt quasi earum ducimus sequi.
    Quibusdam cum modi quod repellat earum accusamus aut blanditiis fugiat architecto dignissimos illum at labore rerum adipisci, iste iusto corrupti voluptatem. Ea, dicta facilis deserunt vero dolorem voluptas facere doloremque!
    Illum autem asperiores voluptatem repellat quos est reprehenderit nam maiores iure reiciendis eius tenetur eum, exercitationem quibusdam eos. Consequatur perspiciatis, recusandae at ipsa praesentium officiis nesciunt magnam modi rem nemo!</p>
</div>