<!DOCTYPE html>
<html          
  class="dark"       
  th:fragment="parent(content,title,script)"
lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">Document</title>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" data-th-href="@{'/css/output.css'}">
</head>

<!-- class="bg-gray-900" -->
<body class="text-white bg-gray-900 ">
  <nav th:replace="~{navbar::navbar}" class="fixed top-0 left-0 right-0 z-50"></nav>
  <div class="w-full h-[90vh] relative top-[10vh] bg-blue-600" th:replace="${content}"></div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <th:block th:replace="${script}">SCM Project</th:block>
</body>
</html>